.player{
    background-color: #EEEEEE;
    margin: 1px 0;
    padding: 1em;
    cursor: pointer;
    border-left: 3px solid #ffffff;
}

.left, .right{
    float:left;
    height: 60vh;
}
.left {
    overflow: auto;
}

.right{
    margin: 1px 0;
    background-color: #ddd;
    width: calc(100% - 24em);
    padding: 0 1em;
    border-right: 3px solid #3e8e41;
    min-width: 400px;
}

.hidden{
    display: none;
}

.active{
    background-color: #ddd;
}

.borderLeft{
    border-left: 3px solid #3e8e41;
}

.name{
    color:#000;
    margin-right: 1em;
}

.teamBadge{
    /*position: relative;*/
    /*right:3px;*/
    /*top: 0;*/
    border-radius: 3px;
    float:right;
    padding: 3px;
    background-color: #3e8e41;
    color: #ffffff;
    flex: auto;
}

.searchBox{
    padding: 0.5em;
    margin-left: 0.5em;
}

.stats-item{
    text-align: center;
    border: 1px solid #EEEEEE;
    float: left;
    padding: 0.5em 1em;
    color: #333;
}

.close{
    background-color: #333333;
    color:#EEEEEE;
    padding:6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    position: relative;
    top:1px;
    right: 1px;
}
.stats-group{
    width: 100%;
    display: table;
}
.stats-item span {
    font-size: 24px;
}