<h3>Mängijad ({{players?.length}}) <input placeholder="Otsi mängijat" [(ngModel)]="search" class="searchBox"></h3>
<div class="container">
    <div class="left"> <!--[hidden]="selectedPlayer"-->
        <!--<div *ngFor="let p of players" class="player" [routerLink]="['/players',p.player.id]">-->
        <div *ngFor="let p of players | orderByLastName | searchPipe:search; let i =index" class="player"
             (click)="showSelectedPlayer(p)"
             [ngClass]="selectedPlayer?.player?.id == p?.player?.id ? 'active borderLeft' : ''">
            <div>
                <span>#{{i+1}}</span>
                <span class="name">{{p.player.id}} {{p.player.firstname + ' ' + p.player.lastname | nbsp}}</span>
                <!--{{p.player.birthdate | age | nbsp}}-->
                <!--{{p.player.height ? ','+p.player.height+' cm': '' | nbsp}}-->
                <span class="teamBadge" *ngIf="selectedPlayer?.player?.id != p?.player?.id">{{p.team.abbr | uppercase | nbsp}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="selectedPlayer" class="right">
        <h2>
            {{selectedPlayer.player.firstname}}
            {{selectedPlayer.player.lastname}}




        </h2>
        <div class="stats-group">
            <div class="stats-item">Võistkond<br><span>{{selectedPlayer.team.name | nbsp}}</span></div>
            <div class="stats-item">Pikkus<br><span>{{selectedPlayer.player.height? selectedPlayer.player.height+'cm' : '' }}</span></div>
            <div class="stats-item">Vanus<br><span>{{selectedPlayer.player.birthdate | age}}</span></div>
        </div>
        <div class="stats-group" *ngIf="gamecount">
            <div class="stats-item">Mänge<br><span>{{gamecount}}</span></div>
            <div class="stats-item">Punktid<br><span>{{ pts/gamecount | number:'1.1-1'}}</span></div>
            <div class="stats-item">Algviisikus<br><span>{{start5}}</span></div>
            <div class="stats-item">3p<br><span>{{tpm/gamecount| number:'1.1-2'}}</span></div>
            <div *ngIf="fta" class="stats-item">Vabavisked<br><span>{{ftm}}/{{fta}}</span></div>
            <div *ngIf="fta" class="stats-item">Vabaviske%<br><span>{{ftm/fta | percent:'1.1-1'}}</span></div>
            <div class="stats-item">Vead<br><span>{{pf/gamecount | number:'1.1-2'}}</span></div>
            <!--<td>punktid<br>{{pts}}</td>-->

        </div>
            <button class="stats-item close" (click)="hideSelectedPlayer()">X</button>
    </div>
</div>
