@import "shared.less";
h2, h3 {
    color: #444;
    font-weight: lighter;
}

body {
}

body, input[text], button {
    color: #888;
}



* {
    font-family: 'Ubuntu Condensed';
}

li {
    display: inline;
    border-radius: 1em;
}

ul {
    width: 100%;
    background-color: @mainNavBgc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.right {
    float:right;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    border-bottom: 1px solid #ddd;
    color: #333;
}
td, th {
    padding: 0.5em;
    text-align: center;
}

th {
    color: #000;
}

tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

.contentBox {
    padding:0 2em;

}

