<h3>Tabeliseis</h3>
<!--<div *ngFor="let obj of standings">-->
<!--{{obj.team.name}} - {{obj.gameCount}} - {{obj.wins}}-->
<!--</div>-->
<!---->
<table class="w3-striped">
    <tbody>
    <tr>
        <th>Koht</th>
        <th>Võistkond</th>
        <th>Turniiri punktid</th>
        <th>Võidud - Kaotused</th>
        <th>Võidu %</th>
        <th>Skooring keskmine</th>
        <th>Punktide vahe</th>
        <!--<th>Rivalry</th>-->
        <!--<th></th>-->
    </tr>
    <tr *ngFor="let obj of standings; let i = index;">
        <td>#{{i+1}}</td>
        <td>{{obj.team.name}} {{obj.team.id}}</td>
        <td>{{obj.points}}</td>
        <td>{{obj.wins}} - {{obj.losses}}</td>
        <td>{{obj.winRatio | percent:'1.1-1'}}</td>
        <td>{{obj.offAvg | number:'1.1-1' }} / {{obj.defAvg | number:'1.1-1'}}</td>
        <td>{{obj.scoreDiff}}</td>
        <td>{{obj.rivalry}}</td>
        <td>{{obj.rivalryDiff}}</td>
    </tr>
    </tbody>
</table>
<sub>Surnudringi koha arvutamine: Omavaheliste mängude võidud > Omavaheliste mängude punkti vahe > Kõikide mängude
    punkti vahe </sub>
