<h3>Saalid</h3>

<div *ngFor="let place of places" class="place">
    <span class="league">{{place.name}}</span>
    <!--<div><a href="{{place.link}}" target="_blank">{{place.address}} <i class="fa fa-map-marker"></i></a></div>-->
   <span class="league" *ngFor="let l of place.leagues">{{l.abbr+' '}}</span>
</div>

<!--<table class="w3-striped">-->
    <!--<tr>-->
        <!--<th>Saal</th>-->
        <!--<th>Aadress</th>-->
        <!--<th>Link</th>-->
        <!--<th>Liigad</th>-->
    <!--</tr>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let place of places">-->
        <!--<td>{{place.name}}</td>-->
        <!--<td>{{place.address}}</td>-->
        <!--<td><a href="{{place.link}}" target="_blank"><i class="fa fa-map-marker"></i></a>-->
            <!--<img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=100x60&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyB4xvDut1bepNw-1Xx3JgMQ-7g41H1F_Ac">-->
        <!--</td>-->
        <!--<td>-->
            <!--<p *ngFor="let l of place.leagues">{{l.abbr}}</p>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->