<h3>Dashboard</h3>
<div class="grid grid-pad">
    <div *ngFor="let hero of heroes" routerLink="['/heroes',hero.id]" class="col-1-4">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
        </div>
    </div>
</div>
<hero-search></hero-search>
<li><a routerLink="test" routerLinkActive="active">Test</a></li>
<router-outlet></router-outlet>
