<div *ngIf="player">
    <div class="block"><i class="fa fa-user" style="font-size:48px"></i></div>
    <div class="block">
        <p style="font-size: 1.5em">{{player.firstname}} {{player.lastname}}
            <br>{{player.height}} cm
            <br>{{player.birthdate | age}}
        </p>
    </div>
    <div class="block">
        <h2>Stats</h2>
        <ul>
            <li>todo - player team</li>
            <li>todo - player stats: games, played games, points avg, 3pt avg, fouls avg, freethrows</li>
        </ul>
    </div>

    <div (click)="goBack()">Go back
    </div>
</div>