<!--<h1 (click)="getAllItems()" >Seasons</h1>-->
<!--<h1 (click)="check()" >check</h1>-->
<!--<table>-->
<!--<tr *ngFor="let season of seasons">-->
<!--<td>{{ season.id }}</td>-->
<!--<td>{{ season.name }}</td>-->
<!--<td>{{ season.isActive }}</td>-->
<!--</tr>-->
<!--</table>-->

<div class="dropdown">
    <button (click)="toggle()" class="dropbtn">
        <span *ngIf="selectedLeague">{{selectedLeague.name}}</span>
        <span *ngIf="!selectedLeague">Vali liiga</span>
        <i class="fa fa-chevron-circle-right" style="font-size:24px"></i>
    </button>
    <div id="myDropdown" class="dropdown-content" *ngIf="menuIsShown">
        <div *ngFor="let league of leagues" (click)="subItemClick(league)">
            {{ league.name }}
        </div>
    </div>
</div>