.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.alert-danger {
    background-color: #FFaaAA;
}

.container {
    border: 1px solid black;
    padding: 1em;
}