<h3>Mängud</h3>
<table class="w3-striped">
    <tr>
        <th>#</th>
        <!--<th>id</th>-->
        <th>Aeg</th>
        <th>Tüüp</th>
        <!--<th>Ring</th>-->
        <th>Kodu</th>
        <th>Tulemus</th>
        <th>Külaline</th>
        <th>Saal</th>
    </tr>
    <tbody>
    <tr *ngFor="let game of games; let i = index" (click)="console.log(game.datetime)">
        <!--[class.hero-selected]="hero === selectedHero"-->
        <!--(click)="onSelect(hero)"-->
        <td>#{{i+1}}</td>
        <td>{{game.id}}</td>
        <!--<td>{{ game.datetime | date:'dd.MMM HH:mm' }}</td>-->
        <!--<td>{{game?.datetime }}</td>-->
        <td>{{game.stage.name}}</td>
        <!--<td>{{game.round}}</td>-->
        <td>{{game.home.name | uppercase}}</td>
        <td>{{game.result}}</td>
        <td>{{game.visitor.name | uppercase}}</td>
        <td>{{game.placeId?.abbr}}</td>
        <!--<button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>-->
    </tr>
    </tbody>
</table>