@import "../../../shared.less";
h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

nav a {
    color: #aaa;
    text-decoration: none;
    padding: 12px 16px;
}

nav a.active {
    color: #fff;
}

.subnav {
    width: 100%;
    margin-bottom: 1em;
    height:25px;
}

div > div {
    float: left;
    margin: 5px;
}

.header{
    width: 100%;
    margin-bottom: 1px;
    font-size: 2em;
}
