<!--<version-parent></version-parent>-->
<div class="header"><img src="assets/logo.png" height="100px"/>TARTU MILL CUP 2016/2017
    <div style="
    float: right;
    font-size: 0.5em;
    padding: 5px;
    background-color: antiquewhite;
    width: 35%;
    text-align: right;
">Content | TEine | kolmas | neljas
    </div>
</div>
<!--<div style="height: 100px; background-color: #f6f6f6;"></div>-->
<nav>
    <ul>
        <li>
            <a routerLink="/dashboard" routerLinkActive="active">
                <i class="fa fa-hand-o-right" style="font-size:24px"></i>
                Vile
            </a>
        </li>
        <li><a routerLink="/places" routerLinkActive="active">Saalid</a></li>
        <li><a routerLink="/referees" routerLinkActive="active">Kohtunikud</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active" hidden>Uudised</a></li>
        <li>
            <league-select-component-selector></league-select-component-selector>
        </li>
        <li><a routerLink="/games" routerLinkActive="active" class="league-link">Mängud</a></li>
        <li><a routerLink="/standings" routerLinkActive="active" class="league-link">Tabeliseis</a></li>
        <li><a routerLink="/teams" routerLinkActive="active" class="league-link">Võistkonnad</a></li>
        <li><a routerLink="/players" routerLinkActive="active" class="league-link">Mängijad</a></li>

        <li><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
    </ul>
</nav>
<div class="subnav" hidden>
    <div>Aaaaa</div>
    <div> |</div>
    <div>Aaaaa</div>
    <div> |</div>
    <div>Aaaaa</div>
</div>
<div class="contentBox">
    <router-outlet></router-outlet>
</div>
<!--<h1>{{title}}</h1>-->
<!--<key-up></key-up>-->
<!--<hero-form></hero-form>-->
