<h3>Kohtunikud</h3>
<div *ngFor="let referee of referees; let i = index;" class="referee">
    <span>#{{i+1}}</span>
    <span>{{referee.firstname}} {{referee.lastname}}</span>
    <span *ngIf="referee.level">, Tase: {{referee.level}}</span>
    <span *ngIf="referee.email">, {{referee.email}}</span>
    <span *ngIf="referee.phone">, {{referee.phone}}</span>
</div>