<div *ngIf="hero">
    <h2>{{hero.name}} details!</h2>
    <div><label>id: </label>{{hero.id}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="hero.name" placeholder="Hero name">
    </div>
    <button (click)="save()">Save</button>
    <button (click)="goBack()">Back</button>
</div>
<div *ngIf="errorMessage">
    <h2>{{errorMessage}}</h2>
</div>
